{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - license: The license.
 *
 * @see template_preprocess_license()
 *
 * @ingroup themeable
 */
#}
<div class="license-wrapper">
  <div><strong>Halloele{{ full_name }}</strong></div>
  <div>{{ identifier }}</div>
  <div>{{ osi_approved }}</div>
</div>
